<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mensagens {{listType}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list text-wrap *ngIf="messages.length > 0">
    <button ion-item *ngFor="let item of messages" text-wrap>
      <h3 *ngIf="listType == 'Enviadas'">Para: {{item.toUser.fullName}}</h3>
      <h3 *ngIf="listType == 'Recebidas'">De: (anônimo)</h3>
      <label>{{item.selectedPrefix.name}}</label>
      <label>{{item.selectedSuffix.name}}</label>
      <h3>às {{item.creationDate | date:"dd/MM/yyyy HH:mm:ss"}}</h3>
    </button>
    <ion-item>
    </ion-item>
  </ion-list>

  <h3 text-wrap *ngIf="messages.length == 0">Nenhuma mensagem aqui... Ainda! =)</h3>
</ion-content>